name: Check build

on:
  pull_request:

jobs:
  check-build:
    name: Build apk for checking code
    runs-on: ubuntu-latest

    steps:
      ########################################Initial setup#########################################
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'
      - env:
          ENCODED_STRING: ${{ secrets.PROPERTIES_B64 }}
        run: echo -e $ENCODED_STRING  | base64 -di > ${{ github.workspace}}/github-keystore.properties

      - env:
          ENCODED_STRING: ${{ secrets.JKS_B64 }}
        run: echo -e $ENCODED_STRING  | base64 -di > ${{ github.workspace}}/github.jks

      - name: Set gradlew executable
        run: chmod +x ./gradlew
      #########################################Detekt setup#########################################
      - name: Download twitter detekt plugin
        id: twitterPlugin
        uses: suisei-cn/actions-download-file@v1.3.0
        with:
          url: "https://github.com/twitter/compose-rules/releases/download/v0.0.26/detekt-twitter-compose-0.0.26-all.jar"
          target: ${{ github.workspace}}/detekt/plugin/

      - name: Use Detekt
        continue-on-error: true
        id: detekt
        uses: alaegin/Detekt-Action@v1.22.0-RC3
        with:
          github_token: ${{ secrets.BOT_TOKEN }}
          detekt_plugins: '${{ github.workspace}}/detekt/plugin/${{ steps.twitterPlugin.outputs.filename }}'
          detekt_config: ${{ github.workspace}}/detekt/config/detekt.yml
          reviewdog_level: error
          reviewdog_filter: nofilter
          detekt_parallel: true
          fail_on_error: true
          reviewdog_reporter: github-pr-review
      #######################################Compare versions#######################################
      - name: Compare version of last release and current build
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ secrets.TOKEN }}
          exclude_types: "release"
          view_top: 1

      - id: compare_result
        run: ./gradlew compareVersions -PtagVersion='${{ steps.last_release.outputs.tag_name }}' | tail -1
      ########################################Check changelog#######################################
      - name: Get versionName
        id: versionName
        run: ./gradlew getVersionName | tail -1

      - name: Check CHANGELOG.md
        id: checkChangelog
        run: if grep -q '## \[${{ steps.versionName.outputs.content }}\]' CHANGELOG.md; then echo "true"; else echo "false"; fi
      ###########################################Review PR##########################################
      - name: Detekt error
        if: steps.detekt.outcome == 'failure'
        uses: golfzaptw/action-auto-reviews-from-branches@master
        with:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          EVENT_TYPE: REQUEST_CHANGES
          BRANCHES: feature/*
          AUTHOR: 'VersionChecker[bot]'
          MESSAGE: ':x: Detekt check.'

      - name: Compare versions error
        if: ${{ steps.compare_result.outputs.content }} == 'false'
        uses: golfzaptw/action-auto-reviews-from-branches@master
        with:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          EVENT_TYPE: REQUEST_CHANGES
          BRANCHES: feature/*
          AUTHOR: 'VersionChecker[bot]'
          MESSAGE: ':x: Version bump.'

      - name: Changelog check
        if: ${{ steps.checkChangelog.outputs.content }} == 'false'
        uses: golfzaptw/action-auto-reviews-from-branches@master
        with:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          EVENT_TYPE: REQUEST_CHANGES
          BRANCHES: feature/*
          AUTHOR: 'VersionChecker[bot]'
          MESSAGE: ':x: CHANGELOG.md check.'
