name: Check build

on:
  pull_request:

jobs:
  check-build:
    name: Build apk for checking code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'
      - env:
          ENCODED_STRING: ${{ secrets.PROPERTIES_B64 }}
        run: echo -e $ENCODED_STRING  | base64 -di > ${{ github.workspace}}/github-keystore.properties

      - env:
          ENCODED_STRING: ${{ secrets.JKS_B64 }}
        run: echo -e $ENCODED_STRING  | base64 -di > ${{ github.workspace}}/github.jks

      - name: Use Detekt
      - run: chmod +x ./gradlew
      - run: ./gradlew build
        id: build
        continue-on-error: true

      - if: ${{ steps.build.outcome == 'success' }}
        uses: Garlic-Team/Auto-Review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: APPROVE
          MESSAGE: 'Detekt run without problems.'

      - if: ${{ steps.build.outcome != 'success' }}
        id: failure
        uses: juliangruber/read-file-action@v1.1.4
        with:
          path: ./app/allapis/build/reports/detekt/detekt.md

      - if: ${{ steps.detekt.outcome != 'success' }}
        uses: Garlic-Team/Auto-Review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: REQUEST_CHANGES
          MESSAGE: '${{steps.failure.outputs.content}}'

      - name: Run detekt Linter
      - run: ./gradlew detekt
        id: detekt
        continue-on-error: true

      - if: ${{ steps.detekt.outcome == 'success' }}
        uses: Garlic-Team/Auto-Review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: APPROVE
          MESSAGE: 'Detekt run without problems.'

      - if: ${{ steps.detekt.outcome != 'success' }}
        id: failure
        uses: juliangruber/read-file-action@v1.1.4
        with:
          path: ./app/allapis/build/reports/detekt/detekt.md

      - if: ${{ steps.detekt.outcome != 'success' }}
        uses: Garlic-Team/Auto-Review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: REQUEST_CHANGES
          MESSAGE: '${{steps.failure.outputs.content}}'

      - name: Compare version of last release and current build

      - id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ secrets.TOKEN }}
          exclude_types: "release"
          view_top: 1

      - id: compare_result
        run: ./gradlew compareVersions -PtagVersion='${{ steps.last_release.outputs.tag_name }}'

      - if: ${{ steps.detekt.outcome == 'false' }}
        uses: Garlic-Team/Auto-Review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: REQUEST_CHANGES
          MESSAGE: 'Please, change version of new build'

      - if: ${{ steps.detekt.outcome == 'false' }}
        uses: Garlic-Team/Auto-Review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: APPROVE
          MESSAGE: 'Version is good'

      - name: Check CHANGELOG.md

      - id: versionName
        run: ./gradlew getVersionName

      - id: checkChangelog
        run: grep -q '## ${{ steps.versionName.outcome }}' CHANGELOG.md ; echo $?

      - if: ${{ steps.checkChangelog.outcome != '0' }}
        uses: Garlic-Team/Auto-review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: REQUEST_CHANGES
          MESSAGE: 'Please, add new version to CHANGELOG.md'

      - if: ${{ steps.checkChangelog.outcome == '0' }}
        uses: Garlic-Team/Auto-review@1.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          EVENT_TYPE: APPROVE
          MESSAGE: 'CHANGELOG.md is good'
