name: Build release

on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up our JDK environment
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build apk
        run: ./gradlew assembleRelease

      - name: Releasing using Hub
        uses: VladDaniliuk/action-release-releaseapk@1.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
          VERSION_VARIABLE: versionName
          APP_FILE: ./app/build.gradle.kts
          APP_FOLDER: app
          RELEASE_TITLE: All Apis
