name: Build release

on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up our JDK environment
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'
      - env:
          ENCODED_STRING: ${{ secrets.PROPERTIES_B64 }}
        run: echo -e $ENCODED_STRING  | base64 -di > ${{ github.workspace}}/github-keystore.properties

      - env:
          ENCODED_STRING: ${{ secrets.JKS_B64 }}
        run: echo -e $ENCODED_STRING  | base64 -di > ${{ github.workspace}}/github.jks

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build apk
        run: ./gradlew assembleGithubRelease

      - name: Releasing using Hub
        uses: VladDaniliuk/action-release-releaseapk@1.3.9
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          VERSION_VARIABLE: versionName
          CHANGELOG_FILE: ./CHANGELOG.md
          APP_FILE: ./app/allapis/build.gradle.kts
          APP_FOLDER: ./app/allapis/build/outputs/apk/github/release/AllApis-github-release.apk
          RELEASE_TITLE: All Apis
